<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user_id %>
</p>

<p>
  <strong>Business:</strong>
  <%= @subscription.business_id %>
</p>

<p>
  <strong>Check in count:</strong>
  <%= @subscription.check_in_count %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
